
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html dir="ltr" lang="{{currentLocale}}"> <!--<![endif]-->
  <head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<meta http-equiv="Content-Language" content="{{currentLocale.language}}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="FenixEdu™ is an open-source academic information platform." />
	<meta name="Keywords" content="FenixEdu, open-source, academic, information, platform, academic administration, higher education, e-learning" />
	<meta name="Language" content="{{currentLocale}}" />
	<meta name="Robots" content="all" />

	{% block copyrightMeta %}
    <!--
    <meta name="Author" content="FenixEdu" />
    <meta name="Email" content="hello@fenixedu.org" />
    <meta name="Copyright" content="Técnico Lisboa - Instituto Superior Técnico" />
    <meta name="Distribution" content="Global" />
    <meta name="Rating" content="General" />
    -->
    {% endblock copyrightMeta %}

    <!-- OpenGraph Specific Metas -->
    {% block openGraphMeta %}
    <!--
    <meta property="og:title" content="FenixEdu™" />
    <meta property="og:type" content="application" />
    <meta property="og:url" content="http://www.fenixedu.org" />
    <meta property="og:site_name" content="FenixEdu" />
    <meta property="og:description" content="FenixEdu Learning is an open-source academic information platform." />
    <meta property="fb:profile_id" content="379238245509413" />
    -->
    {% endblock openGraphMeta %}

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.5">

    <title>{% block title %}{{ functionality.title.content }} · {{ selectedTopLevel.title.content }}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="{{contextPath}}/themes/{{school-theme}}/css/general.css">
    <link href="{{contextPath}}/themes/{{school-theme}}/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{{contextPath}}/bennu-portal/js/jquery.min.js"></script>
	<script src="{{contextPath}}/themes/{{school-theme}}/js/bootstrap.min.js"></script>
	<script> setLang = function(l) {
		$.post('{{contextPath}}/api/bennu-core/profile/locale/' + l.replace('_', '-')).always(function() { location.reload(); });
	}
	</script>
	
	<!-- Favicons & TouchIcons-->
	<link rel="shortcut icon" type="image/x-icon" href="{{contextPath}}/api/bennu-portal/configuration/favicon">

  </head>

  <body>
  	{% block topbar %}
	<!-- Bar -->
	<div class="navbar navbar-inverse hidden-xs fenixedu-bar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{contextPath}}/" target="_blank">{{config.applicationTitle.content}}</a></li>
			</div>
			
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav" >
					<li class="btn-warning" style="font-weight: bold;">
					{% if config.ulisboaPortal.qualityMode %}
								<a>Ambiente de Qualidade: As alterações realizadas serão perdidas na próxima actualização</a>
					{% endif %}
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
				<li></li>
					{% if loggedUser == null %}
						<li><a href="{{contextPath}}/login">Login</a></li>
					{% else %}
						<li><a><img src="{{loggedUser.profile.avatarUrl}}?s=20" width="20" heigth="20" style="margin-right: 10px" class="img-circle"/>{{loggedUser.profile.displayName}}</a></li>
						{% if devMode %}
							<li class="devmode active"><a>Debug Mode</a></li>
						{% endif %}
						<li class="active"><a href="{{contextPath}}/logout">Logout</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	{% endblock %}

	<header class="clearfix" role="banner">
		<div class="col-sm-2 logo-container text-center" style="padding-bottom: 5px;">
			<button type="button" class="navbar-toggle hamburger" data-toggle="collapse" data-target="#topNav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			{% if config.logoLinkUrl is empty %}
				<img class="organizationLogo" src="{{contextPath}}/api/bennu-portal/configuration/logo" title="{{config.logoTooltip}}" />
			{% else %}
				<a href="{{config.logoLinkUrl}}" target="_blank">
					<img class="organizationLogo" src="{{contextPath}}/api/bennu-portal/configuration/logo" title="{{config.logoTooltip}}" />
				</a>
			{% endif %}
		</div>
		<nav class="col-sm-10 collapse" id="topNav" role="navigation">
			<ul class="nav navbar-bottom nav-pills nav-menu">
			{% lazyFor item in topLevelMenu %}
				<li class="{% if item == selectedTopLevel %}active{% endif %}"><a href="{{contextPath}}{{item.fullPath}}">{{item.title.content}}</a></li>
			{% endLazyFor %}
				<li class="visible-xs"><a href="{{contextPath}}/logout"><strong>Logout</strong></a></li>
			</ul>
		</nav>
	</header>
	<div>
		{% block mainContainer %}
		<main class="col-sm-10 col-sm-push-2" role="main">
			<ol class="breadcrumb">
			{% for item in functionality.pathFromRoot %}
				<li><a href="{{contextPath}}{{item.fullPath}}">{{item.title.content}}</a></li>
			{% endfor %}

				<span class="pull-right">
					{% for locale in locales %}
						<a class="locale-changer {% if locale == currentLocale %}active{% endif %}" title="{{locale.displayName}}" onclick="setLang('{{locale}}')">{{locale.language}}</a>
					{% endfor %}
				</span>
			</ol>
			<div id="main-content-wrapper">
				{{body}}
			</div>
		</main>
		<div class="col-sm-2 col-sm-pull-10 panel-group" id="accordion">
		{% if functionality.parent.parent == config.menu %}
			{% set root = functionality %}
		{% else %}
			{% set root = functionality.parent %}
		{% endif %}
		{% lazyFor item in root.parent.userMenuStream %}
			 <div class="panel panel-default">
				{% if item.userMenu is empty %}
				    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="{{contextPath}}{{item.fullPath}}"><li  class="navheader" >{{item.title.content}}</li></a>
                        </h4>
                    </div>
				{% else %}
					<div class="panel-heading">
                        <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{item.externalId}}">{{item.title.content}}</a>
                        </h4>
                    </div>
					{% if functionality.parent == item %}
					<div id="collapse{{item.externalId}}" class="panel-collapse collapse in">
					{% else %}
						{% if functionality.parent.parent == item %}
					<div id="collapse{{item.externalId}}" class="panel-collapse collapse in">
						{% else %}
					<div id="collapse{{item.externalId}}" class="panel-collapse collapse ">
						{% endif %}
					{% endif %}
						<div class="panel-body" style="margin-bottom:-20px;">
							<table class="table">
						{% lazyFor child in item.userMenuStream %}
							{%if child == functionality %}
								<tr class="danger">
							{%else%}
								<tr >
							{%endif%}
                                    <td>
                                        <span class="glyphicon glyphicon-cog text-primary"></span> <a href="{{contextPath}}{{child.fullPath}}">{{child.title.content}}</a></a>
                                    </td>
                                </tr>
						{% endLazyFor %}
							</table>
                        </div>
                    </div>
				{% endif %}
			</div>
		{% endLazyFor %}
		</div>
		{% endblock %}
	</div>
		{% block footer %}
		<footer class="clearfix" role="contentinfo" >
				<div class="col-sm-2 text-center">
					<a class="brand" href="http://www.ulisboa.pt/"><img src="{{contextPath}}/themes/{{school-theme}}/img/ul-banner.png" alt="FenixEdu at {{school-theme}}"></a>
				</div>
				<p class="col-sm-10">
					<span>{{config.applicationCopyright.content}}</span>
					<a href="mailto:{{config.supportEmailAddress}}">{{i18n('resources.{{school-theme}}ThemeResources', 'link.support')}}</a>
				</p>
		</footer>
		{% endblock %}
	</body>
	
	<script>

;
(function ($, window, document, undefined) {
    if ($('ul.mtree').length) {
        var collapsed = true;
        var close_same_level = true;
        var duration = 400;
        var listAnim = true;
        var easing = 'easeOutQuart';
        $('.mtree ul').css({
            'overflow': 'hidden',
            'height': collapsed ? 0 : 'auto',
            'display': collapsed ? 'none' : 'block'
        });
        var node = $('.mtree li:has(ul)');
        node.each(function (index, val) {
            $(this).children(':first-child').css('cursor', 'pointer');
            $(this).addClass('mtree-node mtree-' + (collapsed ? 'closed' : 'open'));
            $(this).children('ul').addClass('mtree-level-' + ($(this).parentsUntil($('ul.mtree'), 'ul').length + 1));
        });
        $('.mtree li > *:first-child').on('click.mtree-active', function (e) {
            if ($(this).parent().hasClass('mtree-closed')) {
                $('.mtree-active').not($(this).parent()).removeClass('mtree-active');
                $(this).parent().addClass('mtree-active');
            } else if ($(this).parent().hasClass('mtree-open')) {
                $(this).parent().removeClass('mtree-active');
            } else {
                $('.mtree-active').not($(this).parent()).removeClass('mtree-active');
                $(this).parent().toggleClass('mtree-active');
            }
        });
        node.children(':first-child').on('click.mtree', function (e) {
            var el = $(this).parent().children('ul').first();
            var isOpen = $(this).parent().hasClass('mtree-open');
            if ((close_same_level || $('.csl').hasClass('active')) && !isOpen) {
                var close_items = $(this).closest('ul').children('.mtree-open').not($(this).parent()).children('ul');
                if ($.Velocity) {
                    close_items.velocity({ height: 0 }, {
                        duration: duration,
                        easing: easing,
                        display: 'none',
                        delay: 100,
                        complete: function () {
                            setNodeClass($(this).parent(), true);
                        }
                    });
                } else {
                    close_items.delay(100).slideToggle(duration, function () {
                        setNodeClass($(this).parent(), true);
                    });
                }
            }
            el.css({ 'height': 'auto' });
            if (!isOpen && $.Velocity && listAnim)
                el.find(' > li, li.mtree-open > ul > li').css({ 'opacity': 0 }).velocity('stop').velocity('list');
            if ($.Velocity) {
                el.velocity('stop').velocity({
                    height: isOpen ? [
                        0,
                        el.outerHeight()
                    ] : [
                        el.outerHeight(),
                        0
                    ]
                }, {
                    queue: false,
                    duration: duration,
                    easing: easing,
                    display: isOpen ? 'none' : 'block',
                    begin: setNodeClass($(this).parent(), isOpen),
                    complete: function () {
                        if (!isOpen)
                            $(this).css('height', 'auto');
                    }
                });
            } else {
                setNodeClass($(this).parent(), isOpen);
                el.slideToggle(duration);
            }
            e.preventDefault();
        });
        function setNodeClass(el, isOpen) {
            if (isOpen) {
                el.removeClass('mtree-open').addClass('mtree-closed');
            } else {
                el.removeClass('mtree-closed').addClass('mtree-open');
            }
        }
        if ($.Velocity && listAnim) {
            $.Velocity.Sequences.list = function (element, options, index, size) {
                $.Velocity.animate(element, {
                    opacity: [
                        1,
                        0
                    ],
                    translateY: [
                        0,
                        -(index + 1)
                    ]
                }, {
                    delay: index * (duration / size / 2),
                    duration: duration,
                    easing: easing
                });
            };
        }
        if ($('.mtree').css('opacity') == 0) {
            if ($.Velocity) {
                $('.mtree').css('opacity', 1).children().css('opacity', 0).velocity('list');
            } else {
                $('.mtree').show(200);
            }
        }
    }
}(jQuery, this, this.document));


	$(document).ready(function() {
		
	});
</script>


</html>
